# Set properties as required and rename this file to .env or .env.production
ORIGIN=https://something.example.com
POSTGRES_USERNAME=username
POSTGRES_PASSWORD=password
POSTGRES_DB=default_database
POSTGRES_HOST=database
POSTGRES_PORT=5432
AUTH0_SECRET=your_secret
AUTH0_CID=your_client_id
AUTH0_CSECRET=your_client_secret
DATABASE_URL="postgresql://username:password@database:5432/prisma_database?schema=public"
SMTP_USER=mail@example.com
SMTP_PASSWORD=password
SMTP_HOST=mail.example.com
SMTP_PORT=587
SMTP_FROM=mail@example.com
PUBLIC_ADMIN_MAIL=mail@example.com
TEST_USER=username
TEST_PASSWORD=password